*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.w-90{
    width: 90%;
}
.border-radius-10{
    border-radius: 10px !important;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
.customBtn{
    background: #303030;
    color: #fff ;
    padding:0 20px;
    line-height: 31px !important;
    height: 35px;
    border: 2px solid #303030 !important;
outline: none !important;
}
.customBtn:hover{
    background: #fff;
    color: #303030;
}

.bannerSection{
    background: url("../img/banner-bg.png");
    background-position: bottom;
    background-repeat: no-repeat;
     background-size: cover;
}